.centerText{
    text-align: center;
}


.Container{
    width: fit-content;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.Ligne{
    display: flex;
    gap: 20px;
}

.Lettre{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}